<!DOCTYPE html>

 #parse("header.vm")
	
    <body>
         <div class="row">
			<div class="twelve columns">
				<h1>Daily Email Service</h1>
			</div>    
		 </div>
		 
		 <div class="row">
            
            <div class="eleven columns push-one">
				<div class="row">
					<div class="five columns">
						#parse("accountTemplates/weatherPreferences.vm")
						<div class="deliverySettings">
							<h3>Delivery Settings</h3>
							#parse("accountTemplates/deliverytimes.vm")
						</div>
					</div>				
					<div class="six columns">
						<h3>News Sources</h3>
						#parse("accountTemplates/newsDelivery.vm")
						#parse("accountTemplates/addLinks.vm")
					</div>
				</div>
			</div>
			
			<!-- Nav Sidebar -->
			<!-- This is source ordered to be pulled to the left on larger screens -->
			<div class="one columns pull-eleven">
        
				<ul class="side-nav">
					<li><a href=#springUrl("/index")>Home</a></li>
					<li><a href=#springUrl("/account")>Account</a></li>
					<li><a href=#springUrl("/logout")>Logout</a></li>
					<li><a href=#springUrl("/reader")>Reader</a></li>
				</ul>
              
			</div>
			
		 </div>
		  
					
			
		 
#parse("javascript.vm")
	<script>
		function doDelete(theNum) {
	          if (confirm("Are you sure you want to remove this news link?")){
    		   window.location="#springUrl("/account/deleteNewsLink/")" + theNum;  
            	 }
          }
	</script>
	<script>
		$(document).ready(function() {
			
			$(".saved").delay(5000).hide(1000);
		});
	</script>
	
</body>
</html>
