<!DOCTYPE html>
<html>
    <head>
        #parse("header.vm")        
    </head>
    <body>
        <div class="container_12">
            <div class="grid_12 header">
                <h2>Account Settings</h2>
            </div>
            <div class="grid_2">
                <nav>
                    <ul>
                        <li>
                            <a href="index">Home</a>
                        </li>
                        <li>
                            <a id="yourhere" href="account">Account</a>
                        </li>                        
                        <li>
                            <a href="logout">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid_5">
                <div class="weather">
                    <h3>Weather Settings</h3>
                    <div class="wxDelivery">
                        <h5>Set Included Weather Information</h5>
						
                        <form name="setWeatherPref" action=#springUrl("/account/weather") method="post">
							<ul>
                                #set( $weatherOptLabels = {0 : "No Weather Information", 1 : "Current Conditions", 2 : "Forecast", 3 : "Current Conditions & Forecast"})
                                #foreach($option in $weatherOptLabels.keySet())
									<li>
									<input type="radio" name="deliver_pref" value="$option"
										#if($user.weather.deliver_pref == $option)
											checked="checked"
										#end
										/>$weatherOptLabels.get($option)
									</li>
								#end
                            </ul>
                            <input type="submit" value="Set Weather" />
                        </form>
                    </div>
                    <div class="zipcode">
                        <h5>Update Zipcode</h5>
                        Current Location (Zipcode): $user.weather.location_name ($user.zipcode)
                        <form name="changeZip" action=#springUrl("/account/changezip") method="post">
                            <label>Change Zipcode:</label>
                            <input type="text" name="zipCode" size="7" />
                            <input type="submit" value="Update Zipcode" />
                        </form>
                    </div>
                </div>
                <div class="deliverySettings">
                    <h3>Delivery Settings</h3>
                    #parse("deliverytimes.vm")
                </div>
            </div>
            <div class="grid_5">
                <h3>News Sources</h3>
                <div class="newsDelivery">
					<h5>Set Included News Information</h5>
					 #if(!$user.newsLink.isEmpty())
						<form name="news" action=#springUrl("/account/news") method="post">
							<ul>
							#foreach($link in $user.newsLink)
								<li>
								<input type="checkbox" name="news" value="$link.id"
								#if($link.deliver == 1)
									checked="checked"
								#end
								/>
								$link.source_name <a href="javascript:;" onclick="doDelete($!link.id)"><img src=#springUrl("/resources/images/delete.png") /></a>
								</li>
							#end
							
						<li><br /></li>
                        <li><input type="submit" value="Save" /></li>
							</ul>
                    </form>
					#else
						<p>Add some RSS links below to setup news options to include in your daily email.</p>
					#end
					 
                </div>
                <div class="addLinks">
					<h5>Add News Sources</h5>
                    <form name="addNews" action=#springUrl("/account/addNews") method="post">
                        <label>RSS Feed Name</label>
                        <input type="text" name="name" />
                        <br />
                        <label>RSS Feed URL</label>
                        <input type="text" name="url" />
                        <br />
                        <input type="submit" value="Add" />
                    </form>
                </div>
            </div>
        </div>
</div>
</body>
</html>
