
	#set( $deliveryLabel = {
		0 : "Weekday",
		1 : "Weekend"
	})
	
	#set( $deliveryName = {
		0 : "wkDayTime",
		1 : "wkEndTime"
	})
	
	#set( $disable = {
		0 : "disableDay",
		1 : "disableEnd"
	})
	
	#set( $tzNameValue = { 
		"America/New_York" : "Eastern", 
		"America/Chicago" : "Central",
		"America/Denver" : "Mountain",
		"America/Los_Angeles" : "Pacific"
	})
	
	 
                    <div class="delivery">
                        <form name="news" action=#springUrl("/account/delivery") method="post">
                            <table>
                                <tr>
                                    <td>Time Zone:										
										#springFormSingleSelect("deliveryTimeEntry.timezone" $tzNameValue)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Delivery Times</td>
									<td>Disable Delivery</td>
                                </tr>
								<tr>
									<td colspan="2">
										#springBind("deliveryTimeEntry.weekDayTime")
										#springShowErrors("","")
									</td>
								</tr>
                                <tr>									
									<td>Weekday: #springFormInput("deliveryTimeEntry.weekDayTime" "size=10")</td>
									#if($deliveryTimeEntry.weekDayDisabled == 1)										
										<td>#springFormCheckbox("deliveryTimeEntry.weekDayDisabled" "checked")</td>
									#else
										<td>#springFormCheckbox("deliveryTimeEntry.weekDayDisabled")</td>
									#end	
								</tr>
								<tr>
									<td colspan="2">
										#springBind("deliveryTimeEntry.weekEndTime")
										#springShowErrors("","")
									</td>
								</tr>
								<tr>
									<td>Weekend: #springFormInput("deliveryTimeEntry.weekEndTime" "size=10")</td>
									#if($deliveryTimeEntry.weekEndDisabled == 1)										
										<td>#springFormCheckbox("deliveryTimeEntry.weekEndDisabled" "checked")</td>
									#else
										<td>#springFormCheckbox("deliveryTimeEntry.weekEndDisabled")</td>
									#end									
								</tr>
                                <tr>
                                    <td>
                                        <input type="submit" value="Set Delivery Times" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>	
