
	#set( $deliveryLabel = {
		0 : "Weekday",
		1 : "Weekend"
	})
	
	#set( $deliveryName = {
		0 : "wkDayTime",
		1 : "wkEndTime"
	})
	
	#set( $disable = {
		0 : "disableDay",
		1 : "disableEnd"
	})
	
	#set( $tzNameValue = { 
		"America/New_York" : "Eastern", 
		"America/Chicago" : "Central",
		"America/Denver" : "Mountain",
		"America/Los_Angeles" : "Pacific"
	})
	
	 
                    <div class="delivery">
						<form name="news" action=#springUrl("/account/delivery") method="post" class="custom" >
							<fieldset>
								<legend style="padding-bottom: 5px;">Time Zone & Delivery Times</legend>
								#if($confirmSave == "deliveryTimesSaved") 
									<div name="deliveryTimesSaved" id="deliveryTimesSaved" class="alert-box success saved">Delivery Schedule Saved!</div>
								#end
								<div class="row">
                                    <div class="four mobile-two columns">
										<label for="timezone" class="right inline">Time Zone:</label>
																				
									</div>
									<div class="eight mobile-two columns">
										#springFormSingleSelect("deliveryTimeEntry.timezone" $tzNameValue "id='customDropdown' class=''")
									</div>
								</div>
								<hr />
								
								<div class="row">									
										<div class="three mobile-one columns">
											<label for="weekDayTime" class="right inline">Weekday: </label>											
										</div>
										<div class="five mobile-two columns">
											#springBind("deliveryTimeEntry.weekDayTime")
											#if($status.error)
												#springFormInput("deliveryTimeEntry.weekDayTime" "class='error'")
											#else
												#springFormInput("deliveryTimeEntry.weekDayTime" "class=''")
											#end											
											#foreach($error in $status.errorMessages) <small class="error">$error</small>#end
											
										</div>
										<div class="four mobile-one columns">
											#if($deliveryTimeEntry.weekDayDisabled == 1)												
												<label for="weekDayDisabled">#springFormCheckbox("deliveryTimeEntry.weekDayDisabled" "checked") Disable?</label>											
											#else												
												 <label for="weekDayDisabled">#springFormCheckbox("deliveryTimeEntry.weekDayDisabled") Disable?</label> 
											#end
										</div>
								</div>
								
								<div class="row">
									<div class="three mobile-one columns">
										<label for="weekEndTime" class="right inline">Weekend: </label>											
									</div>
									<div class="five mobile-two columns">
										#springBind("deliveryTimeEntry.weekEndTime")
										#if($status.error)
											#springFormInput("deliveryTimeEntry.weekEndTime" "class='error'")
										#else										
											#springFormInput("deliveryTimeEntry.weekEndTime" "class=''")
										#end
										#foreach($error in $status.errorMessages) <small class="error">$error</small>#end
									</div>
									<div class="four mobile-one columns">
										#if($deliveryTimeEntry.weekEndDisabled == 1)										
											<label for="weekEndDisabled">#springFormCheckbox("deliveryTimeEntry.weekEndDisabled" "checked") Disable?</label>
										#else
											<label for="weekEndDisabled">#springFormCheckbox("deliveryTimeEntry.weekEndDisabled") Disable?</label>
										#end
									</div>
								</div>	 
								<input type="submit" class="small button" value="Set Delivery Times" />
							</fieldset>       
                        </form>
                    </div>	
