<!DOCTYPE html>
<html>
	<head>
		#parse("header.vm")		
	</head>
	<body>
		<div class="container_12">
			<div class="grid_12">
			<h2>Login</h2>
			</div>
		<div class="grid_2">
			<nav>
				<ul>
					<li><a href=#springUrl("index")>Home</a></li>
					<li id="yourhere"><a href=#springUrl("login")>Login</a></li>
					<li><a href=#springUrl("register")>Register</a></li>                        
					<li><a href=#springUrl("about")>About</a></li>
				</ul>
			</nav>
		</div>
		<div class="grid_10">
			<div class="error">
				#if($exception)
					#springMessageText($exception.code $exception.message)
				#end					
			</div>
			<form name="login" action="/dailyemail/login" method="post">
				<table class="center">
					<tr>
						<td>E-Mail Address: </td>
						<td><input type="text" name="emailAddress" /></td>
					</tr>
					<tr>
						<td>Password: </td>
						<td><input type="password" name="pwd" /></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:right;">
							<input type="submit" value="Login" />
							<input type="label" value="login" name="action" style="display:none" />
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="grid_12">
		#include("footer.vm")
		</div>
		</div>
	</body>
</html>