<!DOCTYPE html>
#parse("header.vm")		
<body>
    <div class="row">
        <div class="twelve mobile-four columns">
            <h1>Daily Email Service</h1>
        </div>
    </div>
    <div class="row">        
        <div class="ten columns push-two">
            <div class="row">
				<div class="six columns">
			<div class="error">
                #if($exception)
                    #springMessageText($exception.code $exception.message)
                #end					
            </div>
            #if($exception)
                <small class="error">#springMessageText($exception.code $exception.message)</small>
            #end
            <form name="login" action=#springUrl("/login/signin") method="post">
                <fieldset>
                    <legend>Login</legend>
                    <label for="emailAddress">E-Mail Address:</label>
                    <input type="text" name="emailAddress" class="" />
                    <label for="pwd">Password:</label>
                    <input type="password" name="pwd" class="" />
                    <input type="submit" class="button" value="Login" />
                </fieldset>
            </form>
				</div>
				<div class="four columns">
				</div>
			</div>
        </div>
		<div class="two columns pull-ten">
            <nav>
                <ul class="side-nav">
                    <li>
                        <a href=#springUrl("/index")>Home</a>
                    </li>
                    <li id="yourhere">
                        <a href=#springUrl("/login")>Login</a>
                    </li>
                    <li>
                        <a href=#springUrl("/register")>Register</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            #include("footer.vm")
        </div>
    </div>
</div>
</body>
</html>
