<!DOCTYPE html>
#parse("header.vm")
<body>
    <div class="row">
        <div class="twelve columns">
			<div class="fixed contain-to-grid">
			<nav class="top-bar">
				<ul>
					<li class="name"><h1><a href="#">RSS Reader</a></h1></li>
					<li class="toggle-topbar"><a href="#"></a></li>
				</ul>
				<section>
					<ul class="left">
						<li class="divider"></li>
						<li class="has-dropdown"><a href="#">RSS Feeds</a>
						<ul class="dropdown">
							#foreach($feedName in $userNewsData.keySet())
								#foreach($feed in $userNewsData.get($feedName))
										#set($feedId = $feed.feedId)
								#end
								
							<li><a href="javascript:;" onclick="displayNewsSource('#a${feedId}')">$feedName</a></li>
							#end
						</ul>
						</li>
						<li><a href=#springUrl("/index")>Home</a></li>
						<li><a href=#springUrl("/account")>Account</a></li>
						<li><a href=#springUrl("/logout")>Logout</a></li>
					</ul>
				</section>
			</nav>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			#set($count = 0)
			#set($feedForScroll = 0)
				#foreach($feed in $userNewsData.keySet())
					#set($feedIds = $userNewsData.get($feed))
								#foreach($feeds in $feedIds)
									#set( $feedId = $feeds.feedId)
								#end		
					#if($count == 0)
					<div name="a${feedId}" id="a${feedId}" class="news" style="display:block;">
						#set($feedForScroll = $feedId)
					#else
					<div name="a${feedId}" id="a${feedId}" class="news" style="display:none;">
					#end
					#set($count = $count + 1)
					<h3>$feed</h3>
					#set( $feedLinks = $userNewsData.get($feed))
					#foreach($feedData in $feedLinks)											
						<p>
							<a href="$feedData.link" target="_blank">$feedData.title</a> Published: $feedData.pubDateToDisplay<br />
							$feedData.description
						</p>					
					#end
					</div>					
				#end
		</div>
	</div>
	#parse("javascript.vm")
	<script>
		/*
		$(document).ready(function() {
			
			$('.news').each( function(i, obj) {
			
				var divId = $(this).attr('id');
				setWayPoints(divId);
			});
			
			
		});
		function displayNewsSource(feedName){
				$(".news").hide();
				window.scrollTo(0,0);
				$(feedName).show();				
		}
		
		function setWayPoints(divId){
			
				$(divId).waypoint(function() {
  					console.log('At bottom');
					}, { offset: 'bottom-in-view' });
		}
		*/
	</script>

</body>
</html>