<!DOCTYPE html>
#parse("header.vm")
<body>
    <!-- Page Layout HTML here -->
    <!-- Header and Nav -->
    <div class="row">
        <div class="twelve mobile-four columns">
            <h1>Daily Email Service</h1>
        </div>
    </div>
    <div class="row">
        <div class="ten columns push-two">
            <div class="row">
                <div class="twelve columns" >					
                    <div class="row">
						<div class="six columns offset-by-two">
					<h3>Register</h3>
                    #if($userExists)
                        <small class="error">$userExists</small>
                    #end
                    #if($status.errors.hasErrors())
                        ## Global error messages
                        #foreach($e in $status.errorMessages)
                            <p>${e}</p>
                        #end
                    #end
                    <form name="register" action=#springUrl("/register") method="post">
                        <label for="first_name">First Name:</label>
                        #springBind("accountSignUp.first_name")
                        #if($status.error)
                            #springFormInput("accountSignUp.first_name" " placeholder='First Name' class='error'")
                            #else
                                #springFormInput("accountSignUp.first_name" "placeholder='First Name'")
                        #end
                        #foreach($error in $status.errorMessages) <small class="error">$error</small>
                        #end
                        <!-- <input type="text" id="first_name" name="first_name" required />
                        -->
                        <label for="last_name">Last Name:</label>
                        #springBind("accountSignUp.last_name")
                        #if($status.error)
                            #springFormInput("accountSignUp.last_name"  "class='error' placeholder='Last Name'")
                            #else
                                #springFormInput("accountSignUp.last_name" "placeholder='Last Name'")
                        #end
                        #foreach($error in $status.errorMessages) <small class="error">$error</small>
						#end
						
                        <label for="zipcode">Zip Code:</label>
                        #springBind("accountSignUp.zipcode")
                        #if($status.error)
                            #springFormInput("accountSignUp.zipcode" "class='error' placeholder='Zip Code'")
                            #else
                                #springFormInput("accountSignUp.zipcode" "placeholder='Zip Code'")
                        #end
                        #foreach($error in $status.errorMessages) <small class="error">$error</small>
                        #end
                        <label for="email">Email:</label>
                        #springBind("accountSignUp.email")
                        #if($status.error)
                            #springFormInput("accountSignUp.email" "class='error' placeholder='Email'" )
                            #else
                                #springFormInput("accountSignUp.email" "placeholder='Email'")
                        #end
                        #foreach($error in $status.errorMessages) <small class="error">$error</small>
                        #end
                        <label for="confirm_email">Confirm Email:</label>
                        #springBind("accountSignUp.confirm_email")
                        #if($status.error)
                            #springFormInput("accountSignUp.confirm_email" "class='error' placeholder='Confirm Email'")
                            #else
                                #springFormInput("accountSignUp.confirm_email" "placeholder='Confirm Email'")
                        #end
                        #foreach($error in $status.errorMessages) <small class="error">$error</small>
                        #end
                        <label for="password">Password:</label>
                        #springBind("accountSignUp.password")
                        #if($status.error)
                            #springFormPasswordInput("accountSignUp.password" "class='error' placeholder='Password'")
                            #else
                                #springFormPasswordInput("accountSignUp.password" "placeholder='Password'")
                        #end
                        #foreach($error in $status.errorMessages) <small class="error">$error</small>
                        #end
                        <label for="confirm_password">Confirm Password:</label>
                        #springBind("accountSignUp.confirm_password")
                        #if($status.error)
                            #springFormPasswordInput("accountSignUp.confirm_password" "class='error' placeholder='Confirm Password'")
                            #else
                                #springFormPasswordInput("accountSignUp.confirm_password" "placeholder='Confirm Password'")
                        #end
                        #foreach($error in $status.errorMessages) <small class="error">$error</small>
                        #end
                        <input type="submit" class="small button" value="Register" />
                    </form>
						</div>
					</div>
                </div>
            </div>
        </div>
        <div class="two columns pull-ten">
            <nav>
                <ul class="side-nav">
                    <li>
                        <a href=#springUrl("/index")>Home</a>
                    </li>
                    <li>
                        <a href=#springUrl("/login")>Login</a>
                    </li>
                    <li>
                        <a href=#springUrl("/register")>Register</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
