<!DOCTYPE html>
<html>
	<head>
		#parse("header.vm")		
	</head>
	<body>
		<div class="container_12">
			<div class="grid_12">
				<h2>Sign Up</h2>
			</div>
            <div class="grid_2">
                <nav>
                    <ul>
                        <li><a href="index.jsp">Home</a></li>
                        <li><a href="login.jsp">Login</a></li>
                        <li id="yourhere"><a href="signup.jsp">Sign Up</a></li>                        
                        <li><a href="about.jsp">About</a></li>
                    </ul>
                </nav>
            </div>
			<div class="grid_10">
				
				<p style="text-align: center;">Thanks for signing up!  Login <a href="/dailyemail/login">here!</a></p>
				
			</div>
			<div class="grid_12">
			#include("footer.vm")
			</div>
		</div>
	</body>
</html>
					