#foreach($option in $user.deliveryTimes)
	#set( $tz = $option.tz)		
#end

#set( $tzNameValue = { 
	"America/New_York" : "Eastern", 
	"America/Chicago" : "Central",
	"America/Denver" : "Mountain",
	"America/Los_Angeles" : "Pacific"
	})

	
	
#foreach($option in $tzNameValue.keySet())
	<option value="$option"
		#if($tz == $option)
			selected
		#end
		> $tzNameValue.get($option) </option>
#end

