@CHARSET "ISO-8859-1";

.footer 
{
	text-align: right;
}

.header
{
	text-align: center;
}

.content
{
	
}

.weather ul
{
	list-style-type: none;
}

.news input[type="text"]
{
	display: block;
}

.zipcode {
	margin: 8px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    
}

.wxDelivery 
{
	margin: 8px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    
}

.delivery 
{
	margin: 8px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    
}

.newsDelivery 
{
	margin: 8px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    
    
}

.newsDelivery ul
{
	list-style-type: none;
}

.addLinks
{
	margin: 8px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
}

.social
{
	overflow: auto;
	height: 680px;
	padding: 5px;
	border: solid thin black;
}

.rssfeeds
{
	overflow: auto;
	height: 680px;
	
	border: solid thin black;
} 
