                <div class="weather">
                    <h3>Weather Settings</h3>
                    <div class="wxDelivery">                       
						
                        <form class="custom" name="setWeatherPref" action=#springUrl("/account/weather") method="post">
							<fieldset>
								<legend>Set Included Weather Information</legend>
                                #set( $weatherOptLabels = {0 : "No Weather Information", 1 : "Current Conditions", 2 : "Forecast", 3 : "Current Conditions & Forecast"})
                                #if($confirmSave == "weatherDeliveryPreferenceSaved") 
									<div name="weatherPrefSaved" id="weatherPrefSaved" class="alert-box success saved">Weather Preferences Saved!</div>
								#end
								
								#foreach($option in $weatherOptLabels.keySet())
									
									<label>
									<input name="deliver_pref" type="radio"
									value="$option" 
										#if($user.weather.deliver_pref == $option)
											checked="checked"
										#end
										/>
										$weatherOptLabels.get($option)
									</label>
										
								#end
                           
								<input type="submit" class="small button" value="Set Weather" />
						   
							</fieldset>
                        </form>
                    </div>
                    <div class="zipcode">
                        <form name="changeZip" action=#springUrl("/account/changezip") method="post">
							<fieldset>
								<legend style="padding-bottom:5px;">Update Zipcode</legend>
									#if($confirmSave == "zipCodeSaved") 
										<div name="zipSaved" id="zipSaved" class="alert-box success saved">Zip Code Updated!</div>
									#end
									#if($zipCodeException)
										<small class="error">#springMessageText($zipCodeException.code $zipCodeException.message)</small>
									#end
									<p>Current Location (Zipcode): <br />
									$user.weather.location_name ($user.zipcode)</p>
									<div class="row collapse">
										<div class="six mobile-two columns">
											<input placeholder="Zip Code" type="text" name="zipCode" />
										</div>
										<div class="six mobile-two columns">
											<input class="small button expand postfix" type="submit" value="Update Zipcode" />
										</div>
									</div>
							</fieldset>
                        </form>
                    </div>
                </div>